<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for ("static", filename="css/bootstrap.css")}}">
    <link rel="stylesheet" href="{{ url_for ("static", filename="css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{ url_for ("static", filename="css/owl.carousel.min.css")}}">
    <link rel="stylesheet" href="{{ url_for ("static", filename="css/owl.theme.default.min.css")}}">
    <link rel="stylesheet" href="{{ url_for ("static", filename="style.css")}}">
    <link rel="stylesheet" href="{{ url_for ("static", filename="responsive.css")}}">
    <link rel="stylesheet" href="{{ url_for ("static", filename="css/main.css")}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
 integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
 crossorigin=""></script>
    <title>{% block title %}{% endblock %}</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  </head>
  <body>

    {% block nav %}{% endblock %}

    <div class="container">

    {% block content %}{% endblock %}

    <div class="offset-md-2 col-md-8 pt-5 pb-3">
      <footer>
        <span class="text-muted">&copy; 2020 {{ config['BLOG_NAME'] }}</span>
        <span class="text-muted">Developed and Designed By Rajan Rajesh Mishra</span>
      </footer>
    </div>

    </div>

    <!-- bootstrap -->
    <script src="{{ url_for ("static", filename="js/jquery-3.1.1.min.js")}}"></script>
    <script src="{{ url_for ("static", filename="js/bootstrap.min.js")}}"></script>
    <script src="{{ url_for ("static", filename="js/owl.carousel.min.js")}}"></script>
    <script src="{{ url_for ("static", filename="js/active.js")}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  </body>
</html>
