<div class="wrapper">
  <header class="header">
      <div class="container">
          <div class="row">
              <div class="col-md-2">
                  <div class="logo">
                      <h2><a class="navbar-brand" href="{{ url_for('blog_app.index') }}">
                          {{ config['BLOG_NAME'] }}
                        </a></h2>
                  </div>
              </div>
              <div class="col-md-10">
                  <div class="menu">
                      <ul>
                          {% if session.id %}
                          <li><span class="navbar-text text-dark">{{ session.full_name }}</span></li>
                          <li><a href="{{ url_for('blog_app.index') }}">Home</a></li>
                          <li><a class="nav-link" href="{{ url_for('blog_app.post')}}">New Post</a></li>
                          <li><a class="nav-link" href="{{ url_for('author_app.logout')}}">Logout</a></li>
                          <li><a class="nav-link" href="{{ url_for('author_app.geo_location')}}">Geo-Location</a></li>
                          {% else %}
                          <li><a class="nav-link" href="{{ url_for('author_app.login')}}">Login</a></li>
                          <li><a class="nav-link" href="{{ url_for('author_app.register')}}">SignUp</a></li>
                          {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </header>
